{% extends 'base.html'%} {% block navbar %}

<nav class="navbar navbar-expand-sm navbar-light shadow-sm" style="
background-color: #fff;
">
  <div class="container">
    <a class="navbar-brand" style="
    color: #e65100;
" href="{{url_for('home_page')}}">Recipe Heaven<span class="sr-only"></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('get_recipes')}}">All Recipes<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('add_recipe')}}">Add Recipe<span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% endblock %} {% block add_recipe %}

<main role="main">
  <div class="container">
    <h1 class="display-4 textcolor my-4">
      Add Recipe
    </h1>
    <form action="{{url_for('insert_recipe')}}" method="POST">
      <div class="form-row justify-content-between">
        <div class="col-md-4 mb-3">
          <label for="title"><span class="textcolor">Recipe Name</span></label>
          <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp" placeholder="Recipe Name" />
        </div>
        <div class="col-md-6 mb-3">
          <label for="description"><span class="textcolor">Description</span></label>
          <input type="text" class="form-control textcolor" id="description" name="description" aria-describedby="emailHelp" placeholder="Description" />
        </div>
      </div>
      <div class="form-row justify-content-between my-4">
        <div class="col-md-2 mb-3">
          <label for="cuisine"><span class="textcolor">Cuisine</span></label>
          <input type="text" class="form-control textcolor" id="cuisine" name="cuisine" aria-describedby="emailHelp" placeholder="French" />
        </div>
        <div class="col-md-2 mb-3">
          <label for="serves"><span class="textcolor">Serves</span></label>
          <input type="text" class="form-control" id="serves" name="serves" aria-describedby="emailHelp" placeholder="2" />
        </div>
        <div class="col-md-2 mb-3">
          <label for="meal"><span class="textcolor">Meal Type</span></label>
          <select class="form-control" id="meal" name="meal_type">
            {% for mea in meal %}
            <option value="{{mea.meal_type}}">{{mea.meal_type}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-2 mb-3">
          <label for="prep_time"><span class="textcolor">Prep Time</span></label>
          <input type="text" class="form-control" id="prep_time" name="prep_time" aria-describedby="emailHelp" placeholder="0 mins" />
        </div>
        <div class="col-md-2 mb-3">
          <label for="cooking_time"><span class="textcolor">Cooking Time</span></label>
          <input type="text" class="form-control" id="cooking_time" name="cooking_time" aria-describedby="emailHelp" placeholder="0 mins" />
        </div>
      </div>
      <div class="form-row justify-content-between">
        <div class="col-md-6 mb-3">
          <label for="ingredients"><span class="textcolor">Ingredients</span></label>
          <textarea class="form-control" id="ingredients" name="ingredients" rows="3"></textarea>
        </div>
        <div class="col-md-5 mb-3">
          <label for="directions"><span class="textcolor">Directions</span></label>
          <textarea class="form-control" id="directions" name="directions" rows="3"></textarea>
        </div>
        <div class="col-md-2 mb-3">
          <label for="user_name"><span class="textcolor">Username</span></label>
          <input type="text" class="form-control" id="user_name" name="user_name" aria-describedby="emailHelp" placeholder="Jane" />
        </div>
      </div>
      <div class="ff my-5">
        <button class="btn btn-primary" type="submit">Add Recipe</button>
      </div>
    </form>
  </div>
</main>

{% endblock %}