{% extends 'base.html'%}

{% block navbar %}

<nav class="navbar navbar-expand-sm navbar-light navbar-light shadow-sm" style="
background-color: #fff;
"">
  <div class=" container">
  <a class="navbar-brand" style="
    color: #e65100;
" href="{{url_for('home_page')}}">Recipe Heaven<span class="sr-only"></span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExample07">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('get_recipes')}}">All Recipes<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('add_recipe')}}">Add Recipe<span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
  </div>
</nav>

{% endblock %} {% block content %}

<main role="main">
  <div class="container">
    <h1 class="display-4 my-4 textcolor">Edit Recipe</h1>
  </div>
  <div class="container">
    <form action="{{ url_for('update_recipe', recipe_id=recipe._id)}}" method="POST">
      <div class="form-row justify-content-between">
        <div class="col-md-4 my-4">
          <label for="title" class="textcolor">Recipe Title</label>
          <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp" placeholder="Recipe Name" value="{{recipe.title}}">
        </div>
        <div class="col-md-6 my-4">
          <label for="recipe_description" class="textcolor">Description</label>
          <input type="text" class="form-control" id="recipe_description" name="description" aria-describedby="emailHelp" placeholder="Description" value="{{recipe['description']}}">
        </div>
      </div>
      <div class="form-row justify-content-between my-4">
        <div class="col-md-2 mb-3">
          <label for="recipe_cuisine" class="textcolor">Cuisine</label>
          <input type="text" class="form-control" id="recipe_cuisine" name="cuisine" aria-describedby="emailHelp" placeholder="French" value="{{recipe['cuisine']}}">
        </div>
        <div class="col-md-2 mb-3">
          <label for="recipe_serves" class="textcolor">Serves</label>
          <input type="text" class="form-control" id="recipe_serves" name="serves" aria-describedby="emailHelp" placeholder="2" value="{{recipe.serves}}">
        </div>
        <div class="col-md-2 mb-3">
          <label for="recipe_meal_type" class="textcolor">Meal Type</label>
          <select id="meal" name="meal_type" class="form-control">
            <option value="" disabled selected>Choose Meal Type</option>
            {% for mea in meal %}
            {% if mea.meal_type == recipe.meal_type%}
            <option value="{{mea.meal_type}}" selected>{{mea.meal_type}}</option>
            {% else %}
            <option value="{{mea.meal_type}}">{{mea.meal_type}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="col-md-2 mb-3">
          <label for="recipe_prep_time" class="textcolor">Prep Time</label>
          <input type="text" class="form-control" id="recipe_prep_time" name="prep_time" aria-describedby="emailHelp" placeholder="0mins" value="{{recipe.prep_time}}">
        </div>
        <div class="col-md-2 mb-3">
          <label for="recipe_cooking_time" class="textcolor">Cooking Time</label>
          <input type="text" class="form-control" id="recipe_cooking_time" name="cooking_time" aria-describedby="emailHelp" placeholder="0mins" value="{{recipe.cooking_time}}">
        </div>
      </div>
      <div class="form-row justify-content-between my-4">
        <div class="col-md-6 mb-3">
          <label for="recipe_ingredients" class="textcolor">Ingredients</label>
          <textarea type="text" class="form-control" id="recipe_ingredients" name="ingredients" rows="3" value="">{{recipe.ingredients}}</textarea>
        </div>
        <div class="col-md-5 mb-3">
          <label for="recipe_directions" class="textcolor">Directions</label>
          <textarea class="form-control" id="recipe_directions" name="directions" rows="3" value="">{{recipe.directions}}</textarea>
        </div>
        <div class="col-md-2 mb-3">
          <label for="recipe_user_name" class="textcolor">User Name</label>
          <input type="text" class="form-control" id="recipe_user_name" name="user_name" aria-describedby="emailHelp" placeholder="jane" value="{{recipe.user_name}}">
        </div>
      </div>
      <button class="btn btn-primary" type="submit" name="action" value="recipe._id">Update Recipe</button>
    </form>
  </div>
</main>

{% endblock %}