{% extends 'base.html' %} {% block navbar %}

<nav class="navbar navbar-expand-sm navbar-light navbar-light shadow-sm" style="
background-color: #fff;
"">
  <div class=" container">
  <a class="navbar-brand" style="
    color: #e65100;
" href="{{url_for('home_page')}}">Recipe Heaven<span class="sr-only"></span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample07">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('get_recipes')}}">All Recipes<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('add_recipe')}}">Add Recipe<span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
  </div>
</nav>

{% endblock %} {% block content %}
<div class="container">
  <h1 class="display-4 textcolor my-4">All Recipes</h1>
</div>

{% for recipe in recipes %}

<div class="container my-4">
  <div class="col-md-6 col-lg-4 float-left">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h5 class="my-0 font-weight-normal textcolor">{{recipe.title}}</h5>
      </div>
      <div class="card-body">
        <p class="card-text">{{recipe.description}}</p>
        <div class="container align-content-center">
          <a href="{{url_for('recipe_single', recipe_id=recipe._id)}}" class="card-title-text">View recipe</a </div> </div> </div> </div> </div> </div> {% endfor %} {% endblock %}